/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/vendor/telescope/app.js
public/vendor/telescope/app.css
public/vendor/telescope/app-dark.css
public/vendor/horizon/app.js
public/vendor/horizon/app.css
public/vendor/horizon/app-dark.css
public/.uini
config/horizon.php
app/Providers/HorizonServiceProvider.php
public/vendor/horizon/img/horizon.svg
public/vendor/horizon/img/favicon.png
public/vendor/telescope/favicon.ico
public/vendor/telescope/mix-manifest.json
public/vendor/horizon/mix-manifest.json
public/pc.json
public/vendor/horizon/img/sprite.svg
public/pcas.json
package-lock.json
config/telescope.php
public/up-rewrite.conf
public/u.php
app/Providers/TelescopeServiceProvider.php
